<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <img src="{{ asset('bundles/app/images/logo.png') }}" class="az-logo-footer-img" title="{% trans %}Logo{% endtrans %}"/>
            </div>
            <div class="col-md-10">&nbsp;</div>
            <div class="col-md-1">
                <img src="{{ asset('bundles/app/images/top.png') }}" class="az-up-footer-img" title="{% trans %}Up{% endtrans %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Лучший сайт картин, постеров и фотообоев на заказ! В нашей базе более 90.000 уникальных изображений для
                подбора картины вашего интерьера. Для Вас удобный выбор по темам картин любого размера. К нас Вы можете так же выбрать любую раму и паспарту к нужному изображению в
                нашем каталоге или загрузить свое.
            </div>
            <div class="col-md-3 container-fluid">
                <div class="row">Заказ можно сделать на сайте или по телефону</div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('bundles/app/images/phone.png') }}" class="az-phone-footer-img" title="{% trans %}phone{% endtrans %}"/>
                    </div>
                    <div class="col-md-9">
                        + 375 29 <b class="az-header-phone-number-bold">699-99-99</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('bundles/app/images/mail.png') }}" class="az-mail-footer-img" title="{% trans %}phone{% endtrans %}"/>
                    </div>
                    <div class="col-md-9">
                        info@artzakaz.by
                    </div>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">
                <div class="row">Минск и Беларусь Картины, модульные картины, фотообои</div>
                <div class="row">&copy; artzakaz.by</div>
            </div>
        </div>
    </div>
</footer>