<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-sm-1">
                {% if site_settings is defined and site_settings and site_settings.logo is defined and site_settings.logo %}
                    {% set site_logo = '/' ~ site_settings.logo %}
                {% else %}
                    {% set site_logo = asset('bundles/app/images/logo.png') %}
                {% endif %}
                <img src="{{ site_logo }}" class="az-logo-footer-img" title="{% trans %}Logo{% endtrans %}"/>
            </div>
            <div class="col-md-10 col-sm-10">&nbsp;</div>
            <div class="col-md-1 col-sm-1">
                <button id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

            </div>
        </div>
        <div id="show-picture-panel" class="hidden show-picture-panel container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 show-picture-panel-div-img">
                    <img src="#" class="show-picture-panel-img"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                {% if site_settings is defined and site_settings and site_settings.logo_footer_text is defined and site_settings.logo_footer_text %}
                    {{ site_settings.logo_footer_text|raw }}
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6 container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        {% if site_settings is defined and site_settings and site_settings.info_text is defined and site_settings.info_text %}
                            {{ site_settings.info_text|moreText|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                {% if site_settings is defined and site_settings and site_settings.contacts is defined and site_settings.contacts %}
                    {{ site_settings.contacts|moreText|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</footer>