{% if picture.image and picture.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ picture.image.getFilename() %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
{% endif %}
<div class="col-md-2 az-vizited-item container">
    <div class="row az-vizited-item-img-div">
        <div class="col-md-12">
        <a href="{{ path('picture', {'id': picture.id}) }}"><img src="{{ img }}" class="az-vizited-item-img"></a>
        </div></div>
</div>