{% extends "AppBundle::layout.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        Slider
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-description-header">Мы предлагаем</div>
        <div class="row az-page-section-body az-page-main-description">Описание 1</div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-popular-header">Популярное</div>
        <div class="row az-page-section-body az-page-main-popular">Описание 2</div>
    </div>
{% endblock %}
