{% extends "AppBundle::layout.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        <div id="myCarousel" class="slide">

            {% set slider_increment = 0 %}
            <div class="carousel-inner" role="listbox">
                {% for slider in sliders %}
                    <div class="item" id="data-slide-{{ slider_increment }}">
                        <div class="show-title">{{ slider.title }}</div>
                        <p>{{ slider.text }}</p>
                        <div class="btn btn-3">
                            <div class="btn-wrap"><a href="{{ slider.url }}">подробнее</a></div>
                        </div>
                    </div>
                    {% set slider_increment = slider_increment + 1 %}
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" id="carousel-control-left" href="#myCarousel2" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"
                                                                  aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" id="carousel-control-right" href="#myCarousel2" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"
                                                                  aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-description-header">Мы предлагаем</div>
        <div class="row az-page-section-body az-page-main-description">Описание 1</div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-popular-header">Популярное</div>
        <div class="row az-page-section-body az-page-main-popular">Описание 2</div>
    </div>
{% endblock %}
