{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.image %}
            <img src="/files/frame_materials/mini_thumb/{{ object.image.getFilename() }}" class="admin-preview" /><br>
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}