{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.images|length > 0 %}
            <img src="/files/frames/mini_thumb/{{ object.images[0].getFilename() }}" class="admin-preview" /><br>
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}