{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.type == 'banner' %}
            Баннер
        {% elseif object.type == 'frame' %}
            В раме
        {% elseif object.type == 'module' %}
            Модульная
        {% endif %}
    </div>
{% endblock %}