{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.imageBanner != null %}
            <img src="/files/{{ object.imageBanner.getEntityName() }}/mini_thumb/{{ object.imageBanner.getFilename() }}" class="admin-preview"/><br>
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}