{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block side_bar_before_nav %}<li>            <a href="/app_dev.php/admin/app/framecolor/list"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Цвет рамки</a>
</li>{% endblock %}