<div class="row">
    <nav class="breadcrumb">
        {% if site_blocks is defined and site_blocks and site_blocks.BreadCrumb %}
            <a class="breadcrumb-item" href="/">Главная</a>
            {% for breadcrumb in site_blocks.BreadCrumb|reverse %}
                {% if not loop.last %}
                    <a class="breadcrumb-item" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb.title }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </nav>
</div>