<div class="row az-page-main-section-div container-fluid">
    <div class="row az-page-section-header az-page-main-popular-header">Похожие товары:</div>
    <div class="row az-page-section-body az-page-main-popular container-fluid">
        <div class="row">
            {% if similars is defined and similars %}
            {% for similar in similars %}
            {% if similar.pictures is defined and similar.pictures %}
            {% for picture in similar.pictures %}
            {% include('AppBundle:Component:picture.cell.html.twig') %}
            {% if loop.index != 0 and (loop.index + 1) % 3 == 0 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>