<div class="row az-page-main-section-div container-fluid">
    <div class="row az-page-section-header az-page-main-popular-header">Похожие картины:</div>
    <div class="row az-page-section-body az-page-main-popular container-fluid">
        <div class="row">
            {% if pictureMain.similar is defined and pictureMain.similar %}
            {% for picture in pictureMain.similar %}
            {% include('AppBundle:Component:picture.cell.html.twig') %}
            {% if loop.index != 0 and (loop.index + 1) % 6 == 0 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>