<div class="row az-page-main-section-div container-fluid">
    <div class="row az-page-section-header az-page-main-popular-header">Похожие товары:</div>
    <div class="row az-page-section-body az-page-main-popular container-fluid">
        <div class="row">
            <div class="col-md-4 container">
                <div class="row az-main-popular-item-img-div">
                    <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-type">Живописные холсты</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-buttons container-fluid">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn">Заказать</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn">Отложить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row az-main-popular-item-img-div">
                    <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-type">Живописные холсты</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-buttons container-fluid">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn">Заказать</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn">Отложить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row az-main-popular-item-img-div">
                    <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-type">Живописные холсты</div>
                </div>
                <div class="row">
                    <div class="az-main-popular-item-header-buttons container-fluid">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn">Заказать</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn">Отложить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>