<div class="col-md-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Фото
    </div>
    <div class="row az-picture-page-constructor-block az-category-page-filter-photo">
        <input type="radio" class="btn az-category-page-filter-radio" name="az-category-page-filter-photo" title="az-category-page-filter-photo" value="1" checked>
    </div>
</div>
<div class="col-md-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Арт
    </div>
    <div class="row az-picture-page-constructor-block az-category-page-filter-photo">
        <input type="radio" class="btn az-category-page-filter-radio" name="az-category-page-filter-photo" title="az-category-page-filter-photo" value="1">
    </div>
</div>
<div class="col-md-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Имя <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>
<div class="col-md-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Дата <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>
<div class="col-md-2 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Популярность <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>
<div class="col-md-3 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Цвет
    </div>
</div>
<div class="col-md-3 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Шаблон
    </div>
</div>
