services:
    app.frame_event_listener:
        class: AppBundle\EventSubscriber\FrameSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.picture_event_listener:
        class: AppBundle\EventSubscriber\PictureSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.own_picture_event_listener:
        class: AppBundle\EventSubscriber\OwnPictureSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.underframe_event_listener:
        class: AppBundle\EventSubscriber\UnderframeSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.slider_event_listener:
        class: AppBundle\EventSubscriber\SliderSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.module_type_event_listener:
        class: AppBundle\EventSubscriber\ModuleTypeSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.frame_material_event_listener:
        class: AppBundle\EventSubscriber\FrameMaterialSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.banner_material_event_listener:
        class: AppBundle\EventSubscriber\BannerMaterialSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.main_menu_event_listener:
        class: AppBundle\EventSubscriber\MainMenuSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.order_event_listener:
        class: AppBundle\EventSubscriber\OrderSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }
    app.picture_form_event_listener:
        class: AppBundle\EventSubscriber\PictureFormSubscriber
        arguments:
            - '@service_container'
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }