services:
    helper.imageresizer:
        class: AppBundle\Helper\ImageResizer

    helper.slugcreator:
        class: AppBundle\Helper\SlugCreator

    helper.imageformidentifier:
        class: AppBundle\Helper\ImageFormIdentifier

    helper.textformater:
        class: AppBundle\Helper\TextFormater

    app.image_manager:
        class: AppBundle\Service\ImageManagement
        arguments:
            - '@doctrine.orm.entity_manager'

    app.session_manager:
        class: AppBundle\Service\SessionManagement
        arguments:
            - '@service_container'

    pictures.service:
        class: AppBundle\Service\PicturesService
        arguments:
            - '@doctrine.orm.entity_manager'

    menu.service:
        class: AppBundle\Service\MenuService
        arguments:
            - '@doctrine.orm.entity_manager'

    blocks.service:
        class: AppBundle\Service\BlocksService
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@service_container'

    app.twig_pictures_extension:
        class: AppBundle\Twig\PicturesExtension
        arguments:
            - '@service_container'
        tags:
            - { name: twig.extension }

    app.menu_listener:
        class: AppBundle\EventListener\MenuBuilderListener
        tags:
            - { name: kernel.event_listener, event: sonata.admin.event.configure.menu.sidebar, method: addMenuItems }

    app.breadcrumb_service:
        class: AppBundle\Service\BreadCrumbService
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@service_container'

    app.sonata.admin.builder.orm_datagrid:
        class: AppBundle\Sonata\DatagridBuilder
        arguments:
            - '@form.factory'
            - '@sonata.admin.builder.filter.factory'
            - '@sonata.admin.guesser.orm_datagrid_chain'
            - '%form.type_extension.csrf.enabled%'
