services:
    app.admin.frame:
        class: AppBundle\Admin\FrameAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Рамы", label: "Рамы", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\Frame
             - 'SonataAdminBundle:CRUD'
             - '@app.image_manager'
    app.admin.underframe:
        class: AppBundle\Admin\UnderframeAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Рамы", label: "Подрамники", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\Underframe
             - 'SonataAdminBundle:CRUD'
             - '@app.image_manager'
    app.admin.moduletype:
        class: AppBundle\Admin\ModuleTypeAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Картины", label: "Модульность", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\ModuleType
             - 'SonataAdminBundle:CRUD'
             - '@app.image_manager'
    app.admin.framecolor:
        class: AppBundle\Admin\FrameColorAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Рамы", label: "Цвет рамы", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\FrameColor
             - 'SonataAdminBundle:CRUD'
    app.admin.framematerial:
        class: AppBundle\Admin\FrameMaterialAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Материалы", label: "Материал рамы", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\FrameMaterial
             - 'SonataAdminBundle:CRUD'
    app.admin.bannermaterial:
        class: AppBundle\Admin\BannerMaterialAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Материалы", label: "Материал баннера", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\BannerMaterial
             - 'SonataAdminBundle:CRUD'
    app.admin.mat:
        class: AppBundle\Admin\MatAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Картины", label: "Паспарту", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\Mat
             - 'SonataAdminBundle:CRUD'
    app.admin.page:
        class: AppBundle\Admin\PageAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Страницы", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\Page
            - 'SonataAdminBundle:CRUD'
    app.admin.mainmenu:
        class: AppBundle\Admin\MainMenuAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Главное меню", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\MainMenu
            - 'SonataAdminBundle:CRUD'
    app.admin.call:
        class: AppBundle\Admin\CallAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Заказанные звонки", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\Call
            - 'SonataAdminBundle:CRUD'
    app.admin.review:
        class: AppBundle\Admin\ReviewAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Отзывы", show_in_dashboard: true}
        arguments:
             - ~
             - AppBundle\Entity\Review
             - 'SonataAdminBundle:CRUD'
    app.admin.picture:
        class: AppBundle\Admin\PictureAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Картины", label: "Картины", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\Picture
            - 'SonataAdminBundle:CRUD'
            - '@app.image_manager'
            - '@doctrine.orm.entity_manager'
    app.admin.picturesize:
        class: AppBundle\Admin\PictureSizeAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Картины", label: "Размеры картин", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\PictureSize
            - 'SonataAdminBundle:CRUD'
    app.admin.author:
        class: AppBundle\Admin\AuthorAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Картины", label: "Автор картины", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\Author
            - 'SonataAdminBundle:CRUD'
    app.admin.slider:
        class: AppBundle\Admin\SliderAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Слайдер", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\SliderItem
            - 'SonataAdminBundle:CRUD'
            - '@app.image_manager'

#    app.admin.category2:
#            class: Sonata\ClassificationBundle\Admin\CategoryAdmin
#            tags:
#                - { name: sonata.admin, manager_type: orm, group: "XXX", label: "Категории", show_in_dashboard: true }
#            arguments:
#                - ~
#                - AppBundle\Entity\Category
#                - 'SonataClassificationBundle:CategoryAdmin'
#                - '@sonata.classification.manager.context'
#    app.admin.settings:
#        class: AppBundle\Admin\SettingsAdmin
#        tags:
#            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Настройки сайта", show_in_dashboard: true }
#        arguments:
#            - ~
#            - AppBundle\Entity\Settings
#            - 'AppBundleAdmin:SettingsAdmin'
    app.admin.category3:
        class: AppBundle\Admin\CategoryNewAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Контент", label: "Категории", show_in_dashboard: true }
        arguments:
            - ~
            - AppBundle\Entity\Category3
            - 'SonataAdminBundle:CRUD'
            - '@doctrine.orm.entity_manager'
    app.admin.image:
        class: AppBundle\Admin\ImageAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: Content, label: Image, show_in_dashboard: false}
        arguments:
            - ~
            - AppBundle\Entity\Image
            - 'SonataAdminBundle:CRUD'