body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.navbar {
    margin-bottom: 7px;
}

.az-header-top {
    padding: 20px 0 30px 30px;
}

.az-logo-title-text-div {
    margin: -20px 0 0 80px;
    font-size: 10px;
}
.az-header-top-last {
    padding: 20px 0 0 0;
}

.az-logo-title-img {
    width: 270px;
    height: 75px;
}

.az-header-feedback-btn {
    color: white;
    background-color: #fd1200;
}


/** header contacts**/
.az-header-address-div {
    padding-left: 25px;
}

.az-header-basket-div {
    padding-left: 45px;
}

.az-header-address-container {
    line-height: 24px;
    font-weight: 600;
}

.az-header-phone-number {    color:    #fd1200
;
}

.az-header-phone-number-bold {
    font-size: 18px;

}

/** basket**/

.az-header-basket-count-text {
    color: #b4b4b4;
    font-size: 13px;
}


/**search**/
.input-group-btn{
    border-radius: 4px;
}
.btn{
    font-size: 15px;
}
.btn-default{

    background-color: #fd1200;
    background-image: none !important;
    border:  1px solid #fd1200;
    color: #ffffff !important;
    text-shadow: none !important;
}

.form-control{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}


/**menu**/
.navbar-collapse {
    padding: 0;
}
.navbar-brand, .navbar-nav > li > a{
    color: #000000 !important;
    text-shadow: none;
    font-size: 16px;
    vertical-align: middle ;

}

.nav > li > a {
    padding: 10px 25px 15px 0;
}
.nav > li > a > img {
    padding: 0 10px 0 0;
    vertical-align: text-bottom;
}


.navbar-nav > li:active {
    color: #fd1200;
    background-color: none;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > li > a:hover
{
    background-image: none;
    color: #fd1200 !important;
    box-shadow: none !important;
    background-color: none;

}


.az-header-feedback-btn-div {
    margin-top: 10px;
}

.az-sidebar {
    margin: 10px 0 10px;
    background-color: #FFFFFF;
}

.az-sidebar-popular-item-header {
    color: white;
    background-color: #fd1200;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.az-sidebar-popular-item {
    margin: 10px;
}

.az-review-block-img {
    margin: 0 10px 0 10px;
}

.az-page-main-section-div {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.az-page-section-header {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fd1200;
    letter-spacing: 1px;
    font: 20px/46px 'Open Sans','arial','sans-serif';

}

.az-page-section-body {
    margin: 10px;
    color: #333333;
}
.az-main-popular-item-img-div {
    background-color: #eeeeee;
    margin: 0 2px;
}
.az-main-popular-item-img-div img {
    text-align: center;
    float: none;
    display: table-cell;
    padding:  15px;
}

.az-main-popular-item-img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.az-main-popular-item-header-type {
    text-align: center;
    font-size: 12px;
    margin: 10px 0 20px 0;
}
.az-main-popular-item-header-category{
    color:#fd1200;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    text-align: center;
    font-weight: 600;}

.btn {
    background-color: #fd1200;
    color: #fffff;
    padding: 5px 20px;
}

.btn.focus, .btn:focus, .btn:hover {
    background-color: #595959;
    color: #fff;
}

button, input, optgroup, select, textarea {
    color: #ffffff;
}
/**feedback**/

.az-sidebar-popular-item-name {
    font-size: 15px;
    line-height: 22px;
    padding: 20px 0 0 0;
}
.az-sidebar-popular-item-date {
    color: #fd1200;
    font-size: 13px;
    margin-bottom: 15px;
}
.az-sidebar-popular-item-body {
    font: 11px/16px 'arial','helvetica','sans-serif';
    color: #595959;
    font-style: italic;
}


/** footer**/
footer {
    background-color: #ffffff;
    padding: 15px;
}

.az-logo-footer-img {
    margin: 5px 0 10px 0;
}

.az-phone-footer-img {
    padding: 10px 0;
}

/**mobile**/


@media screen and (min-width:480px) and (max-width:800px) {

    .az-header-top-last {
        padding: 20px 30px 0 30px !important;}

    .az-header-download-div{
        float: left;}
}


@media screen and (max-width:479px){
    .az-header-top-last {
        padding: 20px 30px 0 30px !important;
    }
    .az-header-download-div{
        float: left;}
}


.az-logo-footer-img {
    width: 200px;
}