
body {

    font-family: 'PT Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-image: none;
    background-color: #ffffff;
}

.az-logo-title-img {
    width: 270px;
    height: 75px;
}

/** header contacts**/
.az-header-address-div {
    padding-left: 25px;
}

.az-header-address-container {
    line-height: 24px;
    font-weight: 600;
}

.az-header-phone-number {
    color: #fd1200;
}

.az-header-phone-number-bold {
    font-size: 18px;

}

/** basket**/

.az-header-basket-count-text {
    color: #b4b4b4;
    font-size: 13px;
}

/**search**/
.input-group-btn {
    border-radius: 4px;
}

.btn {
    font-size: 15px;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    height: 30px;

}

.navbar-form {
    margin-top: 0;

}

/**menu**/
.navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.navbar-default .navbar-nav >
.active > a, .navbar-default .navbar-nav >
.active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
}

.navbar-brand, .navbar-nav > li > a {
    color: #000000;
    text-shadow: none;
    font-size: 16px;
    vertical-align: middle;

}

.navbar-nav > li:active {
    color: #fd1200;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > li > a:hover {
    background-image: none;
    color: #fd1200;
    box-shadow: none;

}

.az-sidebar-subcategory-item {
    line-height: 26px;
    cursor: pointer;
    color: #fff;
    background: #535353;
    padding: 0;
    border-top: 1px solid #5f5f5f;

}

.az-sidebar-subcategory-item .active_parent {
    background: #ffffff;
    color: #fd1200;
    border-top: #fd1200 solid 1px !important;
    border-bottom: #fd1200 solid 1px;
    margin: 0;
    padding: 0;
}

.az-sidebar-subcategory-item .active_parent:hover {
    background: #535353;
    border-top: #fd1200 solid 1px !important;
}

.az-sidebar-subcategory-item.active {
    line-height: 26px;
    cursor: pointer;
    color: #fff;
    background: #535353;
    border-top: 1px solid #5f5f5f;
    padding: 0 10px;
}

div[class*="children-subcategory-"] {
    background: #fff;
    margin-left: 0;
    margin-right: 0;

}

.az-subcat-span {
    padding: 0 10px 0 20px;
}

.az-subsubcat-span {
    padding: 0 10px 0 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

}

.az-subsubcategory-item-img {
    background: url("../images/child_menu.png") no-repeat 10% 5%;

}

.az-sidebar-subcategory-first {
    margin: 0;
    padding: 0;

}

.az-sidebar-subcategory-item:hover, .az-sidebar-subcategory-item:active {
    cursor: pointer;
    color: #fd1200;

}

div[class*="children-subsubcategory-"] {
    border: none;
    background-color: #ffffff;
    margin: 0 -15px;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 3px;
}

div[class*="children-subsubcategory-"].active {
    border: none;
    background-color: #ffffff;
    color: #fd1200;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 -15px;
    padding: 0 3px;

}

div[class*="children-subsubcategory-"]:hover {
    border: none;
    background-color: #ffffff;
    color: #fd1200;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.children-subsubcategory:active {
    line-height: 20px;
    color: #fd1200;
}

.az-img-subcategory {
    padding: 0 5px;
}

/**slider**/

.az-sidebar-popular {
    margin: 45px 0 45px 0;
}

.az-sidebar-popular-item-header {
    color: white;
    background-color: #fd1200;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.az-sidebar-popular-item {
    margin: 10px;
}

.az-review-block-img {
    margin: 0 10px 0 10px;
}

.az-page-main-section-div {
    margin: 10px 0;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
}

.az-page-section-header {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fd1200;
    letter-spacing: 1px;
    font: 20px/46px 'Open Sans', 'arial', 'sans-serif';

}

.az-page-section-body {
    margin: 10px;
    color: #333333;
}

.az-popular-item {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 0 10px 15px 10px;
}

.az-popular-item:first-child {
    border-left: 1px solid #e6e6e6;
}

.container-fluid .az-main {
    padding-left: 0;
    padding-right: 0;
}

.az-main {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    background-color: #fd1200;
    color: #ffffff;
    padding: 5px 20px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

.btn.focus, .btn:focus, .btn:hover .btn:visited {
    background-color: #ffffff;
    border: 1px solid #fd1200;
    color: #fd1200;
}

button, input, optgroup, select, textarea {
    color: #ffffff;
}

/**feedback**/

.az-sidebar-popular-item-name {
    font-size: 15px;
    line-height: 22px;
    padding: 20px 0 0 0;
}

.az-sidebar-popular-item-date {
    color: #fd1200;
    font-size: 13px;
    margin-bottom: 15px;
}

.az-sidebar-popular-item-body {
    font: 11px/16px 'arial', 'helvetica', 'sans-serif';
    color: #595959;
    font-style: italic;
}

/** footer**/
footer {
    background-color: #ffffff;
    padding: 15px;
}

.az-logo-footer-img {
    margin: 5px 0 10px 0;
}

.az-phone-footer-img {
    padding: 10px 0;
}

.az-up-footer-img {
    border: 2px solid #fd1200;
    border-radius: 5px;
    padding: 5px;
}

/**mobile**/

@media screen and (min-width: 480px) and (max-width: 800px) {

    .az-header-top-last {
        padding: 20px 30px 0 30px !important;
    }

    .az-header-download-div {
        float: left;
    }
}

@media screen and (max-width: 479px) {
    .az-header-top-last {
        padding: 20px 30px 0 30px !important;
    }

    .az-header-download-div {
        float: left;
    }
}

.az-logo-footer-img {
    width: 200px;
}

/**sidebar**/
.az-sidebar-header {
    color: white;
    background-color: #fd1200;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s ease 0s, color .3s ease 0s;
    border-bottom: 1px solid #fff;

}

.az-sidebar-catalog-item-header.az-sidebar-header:hover {
    background-color: #535353;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 8px;
}

.az-sidebar-catalog-item-header.active {
    background-color: #535353;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    color: #fff;
    border: none;
}

.cycle-slideshow, .cycle-slideshow * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cycle-slideshow {
    margin: 10px auto;
    padding: 0;
    position: relative;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
.az-main-slider .cycle-slide {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static;
    z-index: 100;
}

/* pager */
.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 10px;
    overflow: hidden;
}

.cycle-pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
    color: #D69746;
}

.cycle-pager > * {
    cursor: pointer;
}

/* caption */
.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 700;
}

/* overlay */
.cycle-overlay {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 600;
    color: white;
    padding: 15px 80px;
    opacity: .8;
    font-size: larger;
}

.az-slider-title {
    font: 40px 'Open Sans', 'arial', 'helvetica', 'sans-serif';
    display: block;
    text-align: center;
    opacity: 1;
    padding: 10px 0;
    background-color: rgba(70, 70, 70, 0.8)

}

.az-slider-description {
    text-align: center;
    background-color: rgba(70, 70, 70, 0.8);
    display: block;
    padding: 15px;
}

.slider_item_cat {
    font: 14px 'fregatregular', 'arial', 'helvetica', 'sans-serif';
    opacity: 1;
    text-align: center;
    padding: 0 20px;
}

/* prev / next links */
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    cursor: pointer;
    z-index: 800;
}

.cycle-prev {
    display: block;
    color: #fff;
    left: 10px;
    position: absolute;
    margin-top: 1px;
    margin-left: -8px;
    background: url('../images/prev.png') 5% 50% no-repeat;
    opacity: 1;

}

.cycle-next {
    background: url('../images/next.png') 95% 50% no-repeat;
    display: block;
    color: #fff;
    right: 10px;
    position: absolute;
    margin-top: 1px;
    margin-left: -8px;
    opacity: 1;
}

.cycle-prev:hover, .cycle-next:hover {

    background: url('../images/prev_hover.png') 5% 50% no-repeat;

}

.cycle-next:hover {
    background: url('../images/next_hover.png') 95% 50% no-repeat;
}

.disabled {
    opacity: .5;
    filter: alpha(opacity=50);
}

/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused';
    color: white;
    background: black;
    padding: 10px;
    z-index: 500;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    opacity: .5;
    filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow {
        width: 200px;
    }

    .cycle-overlay {
        padding: 4px
    }

    .cycle-caption {
        bottom: 4px;
        right: 4px
    }
}

/**constructor**/

.az-constructor-block {
    margin-top: 10px;
}

.az-picture-page-constructor-block:first-child {
    border-top: 1px solid #e6e6e6;
}

.az-picture-page-constructor-block {
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px dotted #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.btn.az-picture-page-sidebar-price-btn {
    min-width: 90px;
    max-width: 160px;
    width: 90px;
    padding: 5px 5px;
    font: 16px 'Open Sans', 'arial', 'helvetica', 'sans-serif';
    line-height: 1;
    text-transform: lowercase;
}

.az-picture-page-sidebar-price-btn-div-left {
    padding-left: 0;
}

.az-picture-page-sidebar-price-btn-div-right {
    padding-right: 0;
    padding-left: 10px;
}

.az-picture-page-hint {
    border: 1px dashed #fd1200;
    color: black;
    background-color: #ffffff;
    padding: 3px 5px 3px 5px;
    font-size: 9px;
}

.az-picture-page-sidebar-header-block {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.az-picture-page-sidebar-type-div-select .col-md-6 {
    padding: 3px 0 0 0;
    text-align: center;
    height: 130px;
}

.az-picture-page-sidebar-type-div-select .col-md-6:hover,
.az-picture-page-sidebar-type-div-select .col-md-6:visited,
.az-picture-page-sidebar-type-div-select .col-md-6.active {
    border: 1px solid #fd1200;
    cursor: pointer;
}

.az-picture-page-sidebar-type-div-frame-mat img {
    border: 3px #333 solid;
    background-color: #F5F3CD;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding: 3px;
}

.az-picture-page-sidebar-material-picture-block-selector,
.az-picture-page-sidebar-material-banner-block-selector {
    text-align: center;
    height: 75px;
    padding-top: 4px;
}

.az-picture-page-sidebar-material-banner-block-selector:hover,
.az-picture-page-sidebar-material-banner-block-selector.active,
.az-picture-page-sidebar-material-picture-block-selector:hover,
.az-picture-page-sidebar-material-picture-block-selector.active {
    border: 1px solid #fd1200;
    cursor: pointer;
    padding-top: 3px;

}

.az-picture-page-sidebar-thickness-div-select .col-md-4 {
    height: 70px;
    padding: 4px 5px;

}

.az-picture-page-sidebar-thickness-div-select .col-md-4:hover {
    border: 1px solid #fd1200;
    cursor: pointer;
    padding: 4px 5px;

}

.az-picture-page-sidebar-thickness-div-select .col-md-4.active {
    border: 1px solid #fd1200;
    cursor: pointer;
    padding-top: 3px;
}

.az-picture-page-sidebar-price {
    font-size: 30px;
}

.az-picture-page-sidebar-size-div-left {
    /*padding-left: 0;*/
}

.az-picture-page-sidebar-size-div-body {
    padding: 5px;
}

.az-picture-page-type-img {
    width: 90%;
    padding: 2px;
}

.az-picture-page-material-banner-img {
    max-width: 100%;
    height: 40px;
    padding: 2px;
}

.az-picture-page-thickness-img {
    padding: 2px;
}

.az-picture-page-type-div-img {
    height: 80px;
}

.az-picture-page-material-banner-div-img {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}

.btn.az-picture-page-sidebar-size-select, .btn.az-picture-page-mat-type-select, .btn.az-picture-page-mat-size-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #adadad;
    color: #0b0b0b;
}

.btn.az-picture-page-sidebar-size-select:focus, .btn.az-picture-page-sidebar-size-select:hover, .btn.az-picture-page-mat-type-select:focus,
.btn.az-picture-page-mat-type-select:hover, .btn.az-picture-page-mat-size-select:focus, .btn.az-picture-page-mat-size-select:hover {
    background-color: #ffffff;
    border: 1px solid #adadad;
    color: #fd1200;
}

.btn.az-picture-page-sidebar-size-select option:checked {
    color: #fd1200;
}

.btn.az-picture-page-sidebar-size-select option {
    color: #0b0b0b;
}

.az-picture-page-sidebar-div-right {
    padding-top: 10px;
}

.az-picture-page-material-radio-div {
    margin-bottom: 5px;
}

.page-title {
    font-size: 32px;
    font-weight: 300;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 2px 10px 2px;

}

.az-picture-page-author-articul-div {
    margin: 5px 5px 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.az-picture-page-author-articul-div .col-md-6 {
    border-left: 1px solid #e6e6e6;

}

.az-picture-page-author-articul-div .col-md-6:first-child {
    border-left: none;
}

.az-picture-page-author-articul-div .col-md-6 a {
    color: #333;
    text-decoration: underline;
}

.az-picture-page-author-articul-div .col-md-6 a:hover, .az-picture-page-author-articul-div .col-md-6 a:focus {
    color: #fd1200;
    text-decoration: none;
}

body {
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.az-header-top {
    padding: 20px 0 0 10px;
}

.az-logo-title-text-div {
    margin: -40px 0 0 80px;
    font-size: 10px;
}

.az-header-top-last {
    padding: 20px 0 0 0;
}

.az-logo-title-img {
    width: 270px;
    height: 75px;
}

/** header contacts**/
.az-header-address-div {
    padding: 0 30px 0 40px;
}

.az-header-address-container {
    line-height: 24px;
    font-weight: 600;
}

.az-header-phone-number {
    color: #fd1200;
}

.az-header-phone-number-bold {
    font-size: 18px;

}

/** basket**/

.az-header-basket-count-text .col-md-12 {
    color: #b4b4b4;
    font-size: 12px;
    padding: 0 5px;
}

/**search**/
.input-group-btn {
    border-radius: 4px;
}

.btn {
    font-size: 15px;
}

.btn-default {

    background-color: #fd1200;
    background-image: none !important;
    border: 1px solid #fd1200;
    text-shadow: none !important;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}

/**menu**/
.navbar-collapse {
    padding: 0;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    font-size: 14px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #333;

}

.nav > li > a {
    padding: 0 10px 0 0;
}

.nav > li > a > img {
    padding: 0 10px 0 0;
    vertical-align: text-bottom;
}

.navbar-nav > li:active {
    color: #fd1200;
    background-color: #f8f8f8;

}

.az-sidebar {
    margin: 10px 0 10px;
    background-color: #FFFFFF;
}

/**slider**/

.az-sidebar-popular {
    margin: 25px 0 30px 0;
}

.az-sidebar-popular-item-header {
    color: white;
    background-color: #fd1200;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.az-sidebar-popular-item {
    margin: 10px;
}

.az-review-block-img {
    margin: 0 10px 0 10px;
}

.az-page-section-header {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fd1200;
    letter-spacing: 2px;
    font: 20px/46px 'Open Sans', 'arial', 'sans-serif';

}

.az-page-section-body {
    margin: 10px;
    color: #333333;
}

/**popular**/

.az-main-popular-item-img-div {
    height: 250px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.az-main-popular-item-img-div img {
    text-align: center;
    float: none;
    display: table-cell;
    padding: 0;
}

.btn_az-main-popular_order {
    font-size: 14px;
    background-color: #fd1200;
    color: #ffffff;
    box-shadow: none;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: lowercase;

}

.btn_az-main-popular_order:hover,
.btn_az-main-popular_order:focus {
    background-color: #ffffff;
    border: 1px solid #fd1200;
    color: #fd1200;
}

.az-main-popular-item-img {
    /*width: 100%;*/
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-height: 246px;
    height: 100%;
    max-width: 246px;
}

.az-main-popular-item-img:hover {
    cursor: pointer;
}

.az-main-popular-item-header-type {
    text-align: left;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto 5px auto;
}

.az-main-popular-item-header-category {
    color: #fd1200;
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px auto 0 auto;
    height: 40px;
}

.az_author {
    color: #333;
}

.text-left_id {
    font-size: 11px;
    text-align: left;
    margin-bottom: 5px;
}

.text-left_artik {
    font-size: 14px;
    text-align: left;
    padding: 15px 0 15px 15px;
}

/**btn order**/

.az_btn_postpone, .az_btn_order {
    width: 45%;
}

.btn_az-main-popular_defer:focus,
.btn_az-main-popular_defer:hover {
    background-color: #ffffff;
    border: 1px solid #fd1200;
    color: #fd1200;
}

.btn_az-main-popular_defer {
    margin: 0 auto;
    font-size: 14px;
    background-color: #fd1200;
    color: #ffffff;
    box-shadow: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: lowercase;
}

.az-main-popular-item-header-category a:hover,
.az-main-popular-item-header-category a:focus {
    color: #333;
}

.btn {
    background-color: #fd1200;
    color: #ffffff;
    padding: 5px 20px;
    text-transform: lowercase;
    font-size: 13px;
}

button, input, optgroup, select, textarea {
    color: #ffffff;
}

/**feedback**/

.az-sidebar-popular-item-name {
    font-size: 15px;
    line-height: 22px;
    padding: 20px 0 0 0;
}

.az-sidebar-popular-item-date {
    color: #fd1200;
    font-size: 13px;
    margin-bottom: 15px;
}

.az-sidebar-popular-item-body {
    font: 11px/16px 'arial', 'helvetica', 'sans-serif';
    color: #595959;
    font-style: italic;
}

/** footer**/
footer {
    background-color: #ffffff;
    padding: 15px;
}

.az-logo-footer-img {
    margin: 5px 0 10px 0;
}

.az-phone-footer-img {
    padding: 10px 0;
}

.az-up-footer-img {
    border: 2px solid #fd1200;
    border-radius: 5px;
    padding: 5px;
}

/**mobile**/

@media screen and (min-width: 480px) and (max-width: 800px) {

    .az-header-top-last {
        padding: 20px 30px 0 30px !important;
    }

    .az-header-download-div {
        float: left;
    }
}

@media screen and (max-width: 479px) {
    .az-header-top-last {
        padding: 20px 30px 0 30px !important;
    }

    .az-header-download-div {
        float: left;
    }
}

.az-logo-footer-img {
    width: 200px;
}

.cycle-slideshow, .cycle-slideshow * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cycle-slideshow {
    margin: 10px auto;
    padding: 0;
    position: relative;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static;
    z-index: 100;
}

/* pager */
.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 10px;
    overflow: hidden;
}

.cycle-pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
    color: #D69746;
}

.cycle-pager > * {
    cursor: pointer;
}

/* caption */
.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 700;
}

/* overlay */
.cycle-overlay {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 600;
    color: white;
    padding: 15px 80px;
    opacity: .8;
    font-size: larger;
}

.slider_item_cat {
    font: 14px 'fregatregular', 'arial', 'helvetica', 'sans-serif';
    opacity: 1;
    text-align: center;
    padding: 0 20px;
}

/* prev / next links */
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    cursor: pointer;
    z-index: 800;
}

.cycle-prev {
    display: block;
    color: #fff;
    left: 10px;
    position: absolute;
    margin-top: 1px;
    margin-left: -8px;
    background: url('../images/prev.png') 5% 50% no-repeat;
    opacity: 1;

}

.cycle-next {
    background: url('../images/next.png') 95% 50% no-repeat;
    display: block;
    color: #fff;
    right: 10px;
    position: absolute;
    margin-top: 1px;
    margin-left: -8px;
    opacity: 1;
}

.cycle-prev:hover, .cycle-next:hover {

    background: url('../images/prev_hover.png') 5% 50% no-repeat;

}

.cycle-next:hover {
    background: url('../images/next_hover.png') 95% 50% no-repeat;
}

.disabled {
    opacity: .5;
    filter: alpha(opacity=50);
}

/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused';
    color: white;
    background: black;
    padding: 10px;
    z-index: 500;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    opacity: .5;
    filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow {
        width: 200px;
    }

    .cycle-overlay {
        padding: 4px
    }

    .cycle-caption {
        bottom: 4px;
        right: 4px
    }
}

/**galleries paint**/
.owl-carousel .owl-stage-outer {
    width: 83%;
    margin: 15px auto;
    border: 1px solid #e6e6e6;
    height: 100px;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=0);
    height: 100%;
    cursor: pointer;
    z-index: -1;
}

.owl-carousel .owl-item {
    border-left: 1px solid #e6e6e6;
}

.owl-carousel .owl-item:first-child {
    border-left: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 1;

}

.owl-theme .owl-nav [class*="owl-"] {
    margin: 5px 0 0 5px;
    padding: 4px 0;
}

.owl-theme .owl-nav .owl-prev {
    margin: 5px 0 0 -6px;
    padding: 4px 0;
}

.owl-prev {
    display: block;
    color: #fff;
    left: 0;
    position: absolute;
    margin-left: -8px;
    background: url('../images/prev-gall.png') 50% 50% no-repeat rgba(196, 193, 193, 1) !important;
    opacity: 1;
    width: 54px;
    height: 100px;
    border-radius: inherit;
}

.owl-next {
    background: url('../images/next-gall.png') 50% 50% no-repeat rgba(196, 193, 193, 1) !important;
    display: block;
    color: #fff;
    right: 25px;
    position: absolute;
    margin-top: 0px;
    margin-left: -8px;
    opacity: 1;
    width: 54px;
    height: 100px;
    border-radius: inherit;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: rgba(168, 168, 168, 1) !important;
}

/**gall-modul**/

.az-title-modul {
    font-size: 12px;
    color: #595959;
    margin: 5px 0;
}

.az-picture-page-sidebar-price-btn-div-left {
    padding-left: 0;
}

.az-picture-page-sidebar-price-btn-div-right {
    padding-right: 0;
    padding-left: 10px;
}

.az-picture-page-hint {
    border: 1px dashed #fd1200;
    color: black;
    background-color: #ffffff;
    padding: 3px 5px 3px 5px;
    font-size: 9px;
}

.az-picture-page-hint-modal-div {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: justify;
    padding: 15px;
}

.az-picture-page-sidebar-size-div-left {
    /*padding-left: 0;*/
}

.az-picture-page-sidebar-size-select, .az-picture-page-mat-type-select, .az-picture-page-mat-size-select {
    width: 100%;
}

.az-picture-page-sidebar-div-right {
    padding-top: 10px;
    text-align: right;
}

.az-picture-page-material-radio-div {
    margin-bottom: 5px;
}

.az-category-page-description-div {
    margin: 5px;
}

.az-category-page-description-div #more_text {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 10px;
    width: 28px;
    background: url(/bundles/app/images/more.png) no-repeat;
    transition: background .3s ease 0s;
    float: left;
}

.az-category-page-description-div #more_text:hover {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 10px;
    width: 28px;
    background: url(/bundles/app/images/more_hover.png) no-repeat;
    transition: background .3s ease 0s;
}

/**breadcrumb**/
.breadcrumb {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    padding: 0 3px;
    height: 34px;
    margin: 0 10px;
    border-radius: inherit;
}

.breadcrumb a {
    display: block;
    float: left;
    font: 11px/31px 'arial', 'helvetica', 'sans-serif';
    text-decoration: none;
    color: #808080;
    padding: 0 20px 0 6px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAeCAMAAADAd2R7AAAAUVBMVEXm5ub////m5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5uZFPaD0AAAAG3RSTlMAAAECAxElJicpKk9wcnR2eKTCxMXHycrd3t8Pa2o7AAAAbElEQVR4XlWRRw7AIBADl9QC6T3/f2ikOJbW3EYMsDYWl8zcmpOn8qo8xlXdXty7FndTd1C3EXfPxR3FfVpxD3UndTtxz8KC2wsf8RyId4L4HgizgDgniBlAyPcTspPQCwmdkdAnCV2T3D+EF1lXBCZgHdt7AAAAAElFTkSuQmCC') no-repeat 100% 0%;
}

.breadcrumb a:hover, .breadcrumb a:focus {
    color: #fd1200;
}

.breadcrumb > .active {
    font-weight: 600;
    padding: 0 0 0 10px;
    font: 11px/31px 'PT Sans', sans-serif;
    color: #fd1200;
}

/**public**/
.az-filter-frame .az-category-page-filters-div .az-picture-page-constructor-block {
    border: none;
    padding: 10px 20px;
    border-left: 1px solid #e6e6e6;
    height: 40px;
}

.az-filter-frame .az-category-page-filter-photo {
    vertical-align: middle;
    font-size: 12px;
    line-height: 50px;
    height: 50px;

}

.az-category-page-filters-div {
    margin: 15px auto;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

}

.az-category-page-filters-div .az-picture-page-constructor-block {
    border: none;
    padding: 0;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    height: 50px;
}

.az-category-page-filter-photo {
    vertical-align: middle;
    font-size: 12px;
    line-height: 50px;
    height: 50px;

}

.az-category-page-filter-photo a {
    color: #333;
    margin-top: 10px;
}

.az-category-page-filter-name:hover {
    color: #fd1200;
    text-decoration: underline;
}

.az-category-page-filter-radio {
    display: block;
    text-align: center;
    margin: -15px auto 0 !important;
}

.glyphicon-chevron-down {
    margin-left: 3px;
}

.az-category-page-filter-random-btn {
    width: 60px;
    font: 11px/31px 'arial', 'helvetica', 'sans-serif';
    padding: 0 5px;
}

.az-category-page-filter-random-btn:hover,
.az-category-page-filter-random-btn:focus {
    background-color: #fff;
    border: 1px solid #fd1200;
    color: #fd1200;
}

.az-category-page-filter-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.az-category-page-filter-color-1 {
    background-color: #00A000;
}

.az-category-page-filter-color-2 {
    background-color: #fd1200;
}

.az-picture-page-material-img-a:hover {
    text-decoration: none;
    border: none;

}

/**vizited block**/
.az-visited-block .az-page-main-section-div {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.az-visited-block {
    border: none;
    margin: 20px 10px 15px 10px;

}

.az-visited-block .az-page-main-section-div .az-page-section-header {
    text-transform: none;
    font: 300 20px 'Open Sans', 'arial', 'helvetica', 'sans-serif' !important;
    color: #333;
}

.az-vizited-item {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.az-vizited-item-img {
    width: 100%;
    max-height: 80px;
}

.selected {
    background-color: #fd1200;
    box-shadow: 0 5px 5px 1px #e6e6e6;
}

.az-category-page-filter-art-title {
    font-size: larger;
    font-weight: bold;
}

.az-main-popular-item-header-buttons {
    padding-top: 20px;
}

.az-main-page-header-top-cells {
    margin-top: 20px;
}

.az-main-page-header-icon-cell {
    padding: 0;
    cursor: pointer;
}

.az-main-page-header-icon-cell:hover {
    cursor: pointer;
}

.az-basket-title-img {
    width: 40px;
    height: 40px;
}

.az-header-feedback-btn {
    color: white;
    background-color: #fd1200;
    padding: 5px 5px;
    margin-top: 5px;
    display: block;
}

.az-header-feedback-btn-form {
    display: none;
}

.az-header-feedback-btn:hover .az-header-feedback-btn-form {
    display: block;
}

.az-main-page-top-menu-div, .az-main-page-search {
    padding-right: 0;
}

.az-catalog-menu-block-img-div {
    padding-left: 10px;
}

.az-catalog-block-img {
    padding-right: 10px;

}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}

/**rewiews**/

.az-reviews {
    padding: 13px 15px 8px;
    border: 1px solid #e6e6e6;
    position: relative;
    margin: 20px 10px 28px 10px;
}

.bottomarrowleft {
    width: 14px;
    height: 14px;
    background: url(../images/download.png) no-repeat -48px -49px;
    left: -1px;
    bottom: -14px;
    z-index: 1000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

.az-reviews-name {
    font: 20px/20px 'Open Sans', 'arial', 'helvetica', 'sans-serif';
    font-family: "Open Sans", "arial", "helvetica", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    color: #000;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #e6e6e6;
    display: inline-block;
}

.az-rewiews-date {
    padding-left: 15px;
    display: inline-block;
    color: #f43812;
    font: 16px/21px 'arial', 'helvetica', 'sans-serif';
}

.az-rewiews-article {
    margin: 10px 0;
}

.next, .page, .last {
    margin-right: 2px;
    transition: background .3s ease 0s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font: 16px/16px 'arial', 'helvetica', 'sans-serif';
    color: #595959;
    display: block;
    padding: 6px 10px 6px 9px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    border: 2px solid #e4e4e4;
    float: left;
}

.current {
    margin-right: 2px;
    transition: background .3s ease 0s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font: 16px/16px 'arial', 'helvetica', 'sans-serif';
    color: #333;
    display: block;
    padding: 6px 10px 6px 9px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    border: 2px solid #fd1200;
    float: left;

}

.next, .last {
    margin-right: 2px;
    transition: background .3s ease 0s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font: 16px/16px 'arial', 'helvetica', 'sans-serif';
    color: #e4e4e4;
    display: block;
    padding: 6px 5px 6px 5px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    border: none;
}

.first, .previous {
    margin-right: 2px;
    transition: background .3s ease 0s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font: 16px/16px 'arial', 'helvetica', 'sans-serif';
    color: #e4e4e4;
    display: block;
    padding: 6px 10px 6px 9px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    float: left;

}

.current a, .page a {
    color: #333;
    text-decoration: none;
}

.first a, .previous a, .last a, .next a {
    color: #333;
    text-decoration: none;
}

.current:hover, .page:hover {
    color: #333;
    border: 2px solid #fd1200;
}

.previous a:hover, .next a:hover, .last a:hover, .first a:hover {
    color: #fd1200;
    text-decoration: none;
}

.current:active, .page:active, .next:active, .last:active, .last:active, .next:active {
    color: #333;
    border: 2px solid #fd1200;
}

/**add rewiews**/

.az-rewievs-comment {
    color: #595959;
    font-style: italic;
    font-size: 12px;
    margin: 15px 0;
}

.az-add-review-container {
    margin: 20px 0;
}

.az-add_review_name, .az-add_review_email, .az-add_review_city,
.az-add_review_description {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
}

#add_review label {
    display: block;
}

#az-add_review_description {
    width: 100%;
    height: 130px;
    color: #333333;
}

#az-add_review_city, #az-add_review_email, #az-add_review_name {
    width: 100%;
    border: 1px solid #989898;
    color: #333333;
}

.az-picture-page-type-img-text {
    font-size: 10px;
    display: inline-block;
    line-height: 10px;
}

.az-picture-page-slider-material {
    padding-top: 20px;
}

.az-picture-page-constructor-main-img {
    padding-top: 30px;
    padding-bottom: 30px;
}

/**social btn**/
.soc-share {
    float: left;
    position: relative;
    margin: 10px 1px 5px 2px;
}

.btn-twitter {
    background: #00ACEE;
    border-radius: 3px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #00ACEE;
    padding: 5px;
    margin: 0 0 0 3px;
    line-height: normal;
}

.btn-twitter:link, .btn-twitter:visited {
    color: #fff;
}

.btn-twitter:active, .btn-twitter:hover {
    background: #0075a2;
    color: #fff;
    border-color: #0075a2;
}

/* nice bootstrap ready facebook share button http://justincron.com */

.btn-facebook {
    color: #fff;
    background-color: #4C67A1;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 13px;

}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5da0;
    border-color: #3b5da0;
    cursor: pointer;
}

.btn-facebook:focus {
    color: #fff;
    cursor: pointer;
}

.btn-vk {
    color: #fff;
    background-color: #4C67A1;
    text-align: center;
    border-radius: 3px;
    padding: 4px 5px;

}

.btn-vk:hover, .btn-vk:focus {
    background-color: #5181b8;
    border-color: #5181b8;
    color: #ffffff;
    cursor: pointer;
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    margin: 0 !important;
    border-radius: 3px;
    padding: 4px 7px;
    font-size: 13px;
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #007bb6;
    border-color: #007bb6;
    cursor: pointer;
}

.btn-linkedin:focus {
    color: #fff;
    cursor: pointer;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    margin: 0 !important;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: normal;

}

.btn-google:hover {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
    cursor: pointer;
}

.btn-google:focus {
    color: #fff;
    cursor: pointer;
}

#ok_shareWidget {
    width: 20px;
    float: left;
}

#ok_shareWidget:hover, #ok_shareWidget:focus {
    cursor: pointer;
}

.size-20 .like-button #mm-like-logo {
    width: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.az-picture-page-constructor-frame-color {
    list-style: none;
    position: relative;
    left: 0;
    display: block;
    transition: left .3s ease-out 0s;
    -webkit-padding-start: 10px;
}

.az-picture-page-constructor-frame-color-item {
    float: left;
    padding: 0;
    height: 58px;
    width: 12px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin-left: 1px;
}

.az-static-page-div {
    min-height: 780px;

}

.az-static-page-content {
    padding: 0;
    margin: 20px auto;
}

/**add contacts**/

.az-add_contacts-comment {
    color: #595959;
    font-style: italic;
    font-size: 12px;
    margin: 15px 0;
}

.az-add_contacts-container {
    margin: 20px 0;
}

.az-add_contacts_name, .az-add_contacts_email, .az-add_contacts_city,
.az-add_contacts_description {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
}

#add_contacts label {
    display: block;
}

#az-add_contacts_description {
    width: 50%;
    height: 130px;
    color: #333;
}

#az-add_contacts_city, #az-add_contacts_email, #az-add_contacts_name {
    width: 50%;
    border: 1px solid #989898;
    color: #333;
}

.az-page-category-main-section-div {
    padding-top: 0;
}

.az-category-next {
    background-color: #f6f6f6;
    border: none;
    padding: 0;
}

.category-next {
    display: inline-block;
    padding: 0;

}

.az-category-next .az-main-popular-item-img-div {
    margin: 0;
}

.glyphicon-menu-right::before {
    display: block;
    font-size: 95px;
    font-weight: 400;
}

.az-nextpage {
    display: block;
    color: #333;
    text-decoration: none;

}

.az-nextpage:hover, .az-nextpage.hovered {
    display: block;
    color: #fd1200;
    text-decoration: none;

}

.az-nextpage:visited {
    display: block;
    text-decoration: none;
}

.pagination {
    padding-right: 15px;
    padding-left: 15px;
}

/**modal feedback**/
button.close {
    background-color: #fd1200;
    color: #FFF;
    text-shadow: none;
    opacity: 1;
    padding: 0 5px;
}

button.close:focus, .close:hover {
    color: #fd1200;
    background: none;
    opacity: 1;
}

.btn-default:focus, .btn-default:hover {
    background-color: #fff !important;
    color: #fd1200 !important;
    box-shadow: none;
    border: 1px solid #fd1200;
}

.modal-dialog {
    width: 400px;
    margin: 0 auto;
    font-weight: 400;
}

.az-feedback-modal {

    text-align: left;
    border-radius: 5px;
}

.form-line h3 {
    margin: 5px 0;
    text-align: left;
}

.form-group label {
    font-weight: 400;
    margin-bottom: 0;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.module::after {
    border-radius: 3px 0 0;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5) inset;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.module {
    border-radius: 3px 0 0;
    position: absolute;
}

.module .edge.edger.the_last::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0;
}

.module .edge::after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.module .edge.edger {
    height: 100%;
    top: 0;
    transform: skewY(45deg);
    transform-origin: right center 0;
}

.module .edge {
    position: absolute;
}

.module .edge.edgeb:not(.the_last)::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0;
}

.module .edge.edgeb {
    transform: rotateX(180deg) skewX(-45deg);
    /*transform: rotateX(180deg);*/
    transform-origin: center top 0;
    width: 100%;
}

.az-picture-constructor-container {
    position: relative;
    display: block;
}

/**az-download**/

.az-header-download {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    padding: 0 0 0 5px;
}

.az-header-download-icon {

}

.az-header-download:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fd1200;
}

.az-header-download-div {
    padding: 2px;
}

.az-comment {
    font-style: italic;
    font-size: 12px;
    text-align: justify;
}

.az-comment-bottom {
    font-style: italic;
    font-size: 10px;
    text-align: justify;
    color: #696969;
}

.az-form-choose-file {
    display: block;
    border: 1px solid #eee;
    color: #696969;
    width: 70%;
    float: left;
}

.az-form-download-file {
    float: left;
    position: relative;

}

.az-form-btn-download {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.navbar-form {
    padding: 0px 10px 5px 10px;

}

.az-order-cart {
    border: 1px solid #eee;
    padding: 0;
    margin: 0 10px;
}

.az-order-cart-main {

}

.az-order-cart-item {
    border-left: 1px solid #eee;
    min-height: 200px;
    padding: 20px 15px;
    font-size: 12px;
}

.az-order-cart-item:first-child {
    border-left: none;
}

.az-order-cart-item-img {
    width: 100%;
    height: 165px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    max-height: 180px;
    max-width: 180px;
}

.delete_order-bnt {
    font-size: 14px;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-transform: lowercase;
    margin: 10px auto;
    background-color: #fd1200;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 5px;
}

.cart_cell {
    margin: 10px auto;
}

.az-order-cart-title {
    padding-bottom: 15px;
    font-size: 13px;
}

.btn-primary {
    background-image: none;
    text-shadow: none;
    border: #fd1200;
    box-shadow: none;
}

.btn-primary:focus, .btn-primary:hover {
    background-position: 0;
    background-repeat: no-repeat;
}

/**frames**/
.carousel-control.left, .carousel-control.right {
    font-size: 50px;
    color: #eee;
    background-image: none;
    z-index: 5;
    display: inline-block;
    text-shadow: none;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    z-index: 5;
    display: inline-block;
}

.carousel-control .fa-angle-left {
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: 150px;
    font-size: 50px;
    color: #eee;

}

.carousel-control .fa-angle-right {
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: 150px;
    font-size: 50px;
    color: #eee;

}

.carousel-control .fa-angle-left:hover, .carousel-control .fa-angle-right:hover {
    color: #fd1200;
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

.az-page-main-section-frame {
    margin: 10px -10px;
    padding: 0;
}

.az-main-frames-page {
    margin: 0;
    padding: 0;
}

.az-main-frames-div {
    float: left;
    position: relative;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    text-decoration: none;
    font: 11px/18px 'arial', 'helvetica', 'sans-serif';
    padding: 0;
}

.az-main-frames-div:hover {
    float: left;
    position: relative;
    border: 1px solid #fd1200;
    border-left: 1px solid #fd1200;
    border-right: 1px solid #fd1200;
    border-bottom: 1px solid #fd1200;
    border-top: 1px solid #fd1200;
    text-decoration: none;
    font: 11px/18px 'arial', 'helvetica', 'sans-serif';
    cursor: pointer;
}

.az-main-frames-div:first-child {
    border-left: 1px solid #e6e6e6;

}

.az-main-frames-div:first-child:hover {
    border-left: 1px solid #fd1200;
}

.az-main-frames-div-img {
    text-align: center;
    float: none;
    display: flex;
    padding: 0;
    margin: 10px auto;

}

.az-main-frames-img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
    height: 120px;
}

.az-main-frames-div-header {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    padding: 10px;
    text-transform: lowercase;
    margin: 0;
}

.az-main-frames-material {
    width: 100%;
    text-transform: lowercase;
    margin: 0 10px;
    padding: 0 3px;
}

.az-frames-slide .cycle-slide {
    max-width: 99%;
    left: 300px;
    margin: 20px auto;
    text-align: center;

}

.az-main-frames-page-soc-share {
    text-align: right;
    float: right;
}

#adv-custom-pager {
    width: 500px;
}

.az-frames-div-slides {
    vertical-align: middle;
    display: inline-block;
    width: 600px;
    text-align: center;
}

.az-frames-slide-thumb {
    float: left;
    position: relative;
    margin: 20px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    width: 80px;
    height: 80px;
    line-height: 75px;
    z-index: 10;

}

.az-frames-slide-thumb img {
    max-width: 79px;
    max-height: 78px;
    padding: 2px;
}

.az-frames-slide-thumb:hover,
.az-frames-slide-thumb:active,
.az-frames-slide-thumb:focus {
    border: 1px solid #fd1200;
}

.az-frame-slide-about {
    display: block;
    margin: 20px;
}

.az-frames-slide .cycle-slideshow img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;

}

.az-frames-slide .cycle-prev {
    width: 35px;
    height: 50px;
    background: url('../images/prev.png') 50% 50% no-repeat #eee;
    margin-top: 50px;
}

.az-frames-slide .cycle-next {
    width: 35px;
    height: 50px;
    background: url('../images/next.png') 50% 50% no-repeat #eee;
    margin-top: 50px;
}

.az-picture-page-author-articul-div .col-md-2 {
    border-right: 1px solid #e6e6e6;
}

.az-frames-main {
    padding: 10px;
    margin: 0 10px;
}

.az-frames-slide {
    border: none;
}

/**block-link stock**/
.az-sidebar-link-stock {
    border: 1px #fd1200 dashed;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-transform: none;
    text-align: center;
}

.az-sidebar-link-stock-div {
    margin: 15px 0;
}

.az-btn-delayed-image, .az-btn-myfiles-image {
    border: 1px solid #fd1200;
    background-color: #fff;
    border-radius: inherit;
    color: #333;
    margin: 5px 0;
    text-transform: none;
}

/**cartsmall-header**/
.az-ordersmall-cart {
    border: 1px solid #e6e6e6;
    margin: 10px;

}

.az-ordersmall-cart-modal {
    font-size: 11px;
}

.btn-group-xs > .btn, .btn-xs {
    background-color: #ffffff;
    border: 1px solid #fd1200;
    color: #fd1200;
    background-image: none;
    text-transform: lowercase;
}

.btn-group-xs > .btn, .btn-xs:hover {
    background-color: #ffffff;
    border: 1px solid #333333;
    color: #333333;
    background-image: none;
    text-transform: lowercase;
}

.pagination {
    margin: 10px 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin-left: 100px;
}

#myBtn:hover {
    background-color: #555555;
}

.fa-arrow-up {
    font-size: 40px;
}

.az-picture-page-sidebar-size-panel-div-content-item {
    padding-left: 10px;
    font-size: 10px;
}

.nounderline {
    text-decoration: none;
}

.owl-carousel .owl-item img {
    cursor: pointer;
    height: 97px;
}

.owl-carousel .owl-item img:hover,
.owl-carousel .owl-item img.active {
    cursor: pointer;
    border: 1px solid #fd1200;
}

.az-main-page-header-icon-cell .blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

div.az-picture-page-constructor-block.active {
    background-color: #f0f0f0;
}

.az-picture-page-sidebar-size-div-own-input {
    width: 40px;
    color: #333333;
}

.az-picture-constructor-frame-link-all {
    margin-top: 20px;
}

.az-all-breadcrumb-buttons {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 110px;
}

.az-picture-page-portrait-frame-corner {
    position: absolute;
    z-index: 2;
}

.az-picture-page-portrait-frame-corner-rt {
    right: 0;
    top: 0;
}

.az-picture-page-portrait-frame-corner-rb {
    right: 0;
    bottom: 0;
}

.az-picture-page-portrait-frame-corner-lt {
    left: 0;
    top: 0;
}

.az-picture-page-portrait-frame-corner-lb {
    left: 0;
    bottom: 0;
}

.az-picture-page-portrait-frame-side {
    position: absolute;
    z-index: 1;
}

.az-picture-page-portrait-frame-side-rt {
    right: 0;
    top: 0;
}

.az-all-pages-cart-img-div {
    width: 132px;
    height: 130px;
    padding: 0;
}

.az-all-pages-cart-text {
    padding: 10px;
}
