body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.navbar {
    margin-bottom: 5px;
}

.az-header-top {
    padding: 20px 0 30px 30px;
}

.az-logo-title-text-div {
    margin: -20px 0 0 80px;
    font-size: 10px;
}
.az-header-top-last {
    padding: 20px 0 0 0;
}

.az-logo-title-img {
    width: 270px;
    height: 75px;
}

.az-header-feedback-btn {
    color: white;
    background-color: #cc262c;
}


/** header contacts**/
.az-header-address-div {
    padding-left: 25px;
}

.az-header-basket-div {
    padding-left: 45px;
}

.az-header-address-container {
    line-height: 24px;
    font-weight: 600;
}

.az-header-phone-number {
    color: #cc262c;
}

.az-header-phone-number-bold {
    font-size: 18px;

}

/** basket**/

.az-header-basket-count-text {
    color: #b4b4b4;
    font-size: 13px;
}


/**search**/
.input-group-btn{
    border-radius: 4px;
}

.btn-default{

    background-color: #cc262c;
    background-image: none !important;
    border:  1px solid #cc262c;
    color: #ffffff !important;
    text-shadow: none !important;

}



/**menu**/

.navbar-brand, .navbar-nav > li > a{
    color: #000000 !important;
    text-shadow: none;
    font-size: 16px;

}

.navbar-nav > li:active {
    color: #cc262c;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > li > a:hover
{
    background-image: none;
    color: #cc262c !important;
    box-shadow: none !important;
    background-color: #f8f8f8 !important;

}



.az-header-feedback-btn-div {
    margin-top: 10px;
}

.az-sidebar {
    margin: 10px 0 10px;
    background-color: #FFFFFF;
}

.az-sidebar-popular-item-header {
    color: white;
    background-color: #cc262c;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.az-sidebar-popular-item {
    margin: 10px;
}

.az-review-block-img {
    margin: 0 10px 0 10px;
}

.az-page-main-section-div {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.az-page-section-header {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

.az-page-section-body {
    margin: 10px;
    color: #333333;
}