<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-choose-div-left">
            <label data-for="picture-size">Вы выбрали: </label>
        </div>
        <div class="col-md-8 text-right az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
            {% if help_settings is defined and help_settings and help_settings.chooseHelp is defined and help_settings.chooseHelp %}
                <div style="display: none;">{{ help_settings.chooseHelp|raw }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-choose-div-select">
        <div class="col-md-12 container-fluid">
            <div class="row">
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-title">Тип:</div>
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-type" name="az-choose-type"></div>
            </div>
            <div class="row">
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-title">Размер:</div>
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-size" name="az-choose-size"></div>
            </div>
            <div class="row">
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-title">Материал:</div>
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-material" name="az-choose-material"></div>
            </div>
            <div class="row">
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-title">Подрамник:</div>
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-thickness" name="az-choose-thickness"></div>
            </div>
            <div class="row">
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-title">Цвет под-ка:</div>
                <div class="col-md-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-color" name="az-choose-color"></div>
            </div>
        </div>
    </div>
</div>