<div class="col-md-12 col-sm-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 col-sm-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-choose-div-left">
            <label data-for="picture-size">Вы выбрали: </label>
        </div>
        <div class="col-md-8 col-sm-8 az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint" data-toggle="modal" data-target="#myModalchoose">Подробнее ?</button>

            <div id="myModalchoose" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content az-picture-page-hint-modal-div ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Вы выбрали</h4>
                        </div>
                        <div class="modal-body">
                            {% if help_settings is defined and help_settings and help_settings.chooseHelp is defined and help_settings.chooseHelp %}
                                {{ help_settings.chooseHelp|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-choose-div-select">
        <div class="col-md-12 col-sm-12 container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Тип:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-type" name="az-choose-type"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Размер:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-size" name="az-choose-size"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Материал:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-material" name="az-choose-material"></div>
            </div>
            <div class="row az-picture-page-sidebar-choose-subframe">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Подрамник:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-thickness" name="az-choose-thickness"></div>
            </div>
            {#<div class="row az-picture-page-sidebar-choose-subframe-color">#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Цвет под-ка:</div>#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-color" name="az-choose-color"></div>#}
            {#</div>#}
            <div class="row az-picture-page-sidebar-choose-frame">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Рама:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-frame" name="az-choose-frame"></div>
            </div>
            <div class="row az-picture-page-sidebar-choose-frame-material">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Мат-л рамы:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-frame-material" name="az-choose-frame-material"></div>
            </div>
            <div class="row az-picture-page-sidebar-choose-frame-color">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Цвет рамы:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-frame-color" name="az-choose-frame-color"></div>
            </div>
            {#<div class="row az-picture-page-sidebar-choose-mat-type">#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Тип паспарту:</div>#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-mat-type" name="az-choose-mat-type"></div>#}
            {#</div>#}
            {#<div class="row az-picture-page-sidebar-choose-mat-size">#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Размер паспарту:</div>#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-mat-size" name="az-choose-mat-size"></div>#}
            {#</div>#}
            {#<div class="row az-picture-page-sidebar-choose-mat-color">#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Цвет паспарту:</div>#}
            {#<div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-mat-color" name="az-choose-mat-color"></div>#}
            {#</div>#}
            <div class="row az-picture-page-sidebar-choose-module">
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-title">Тип модуля:</div>
                <div class="col-md-6 col-sm-6 az-picture-page-sidebar-choose-sub-value" id="az-constructor-choose-module" name="az-choose-module"></div>
            </div>
        </div>
    </div>
</div>