<div class="row">
    <div class="col-12 text-right">
        <ul class="az-picture-page-constructor-frame-color">
            <li class="az-picture-page-constructor-frame-color-item" data-color="" data-name="" style="background:url({{ asset('bundles/app/images/noppt.png') }})"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#FFFDF8;border-color:#FFFDF8" data-color="#FFFDF8" data-name="белый"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#F7F4AA;border-color:#F7F4AA" data-color="#F7F4AA" data-name="светло-бежевый"></li>
            <li class="az-picture-page-constructor-frame-color-item active" style="background:#F5F3CD;border-color:#F5F3CD" data-color="#F5F3CD" data-name="слоновая кость"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#DEC687;border-color:#DEC687" data-color="#DEC687" data-name="песочный"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#D2C6AD;border-color:#D2C6AD" data-color="#D2C6AD" data-name="туман"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#D1CD90;border-color:#D1CD90" data-color="#D1CD90" data-name="бамбук"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#BAAD92;border-color:#BAAD92" data-color="#BAAD92" data-name="теплый серый"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#B20D0D;border-color:#B20D0D" data-color="#B20D0D" data-name="красный"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#B09755;border-color:#B09755" data-color="#B09755" data-name="лесной орех"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#AEC487;border-color:#AEC487" data-color="#AEC487" data-name="базилик"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#A69A82;border-color:#A69A82" data-color="#A69A82" data-name="сумерки"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#A19983;border-color:#A19983" data-color="#A19983" data-name="холодный серый"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#9F6520;border-color:#9F6520" data-color="#9F6520" data-name="янтарь"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#984727;border-color:#984727" data-color="#984727" data-name="кирпичный"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#8B5810;border-color:#8B5810" data-color="#8B5810" data-name="коричневый"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#62380A;border-color:#62380A" data-color="#62380A" data-name="темно-коричневый"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#51504F;border-color:#51504F" data-color="#51504F" data-name="уголь"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#442E17;border-color:#442E17" data-color="#442E17" data-name="кофе"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#3E4328;border-color:#3E4328" data-color="#3E4328" data-name="плющ"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#30302F;border-color:#30302F" data-color="#30302F" data-name="черный"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#263E1F;border-color:#263E1F" data-color="#263E1F" data-name="мята"></li>
            <li class="az-picture-page-constructor-frame-color-item" style="background:#243754;border-color:#243754" data-color="#243754" data-name="ультрамарин"></li>
        </ul>
    </div>
</div>
<input type="hidden" name="az-picture-constructor-frame-mat-color-selected" id="az-picture-constructor-frame-mat-color-selected" value="">