{% if pictureMain.image and pictureMain.image.getFilename() %}
    {% set img = '/files/pictures/' ~ pictureMain.image.getFilename() %}
    {% set imgBig = '/files/pictures/normal/' ~ pictureMain.image.getFilename() %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgBig = asset('bundles/app/images/default_picture.jpg') %}
{% endif %}
<div class="row text-center az-picture-page-picture-main-banner-div">
    <div class="col-md-12 az-picture-page-panel-img"></div>
</div>
<input type="hidden" name="input-az-picture-page-img-thumb-width" id="input-az-picture-page-img-thumb-width" value="{{ pictureBaseWidth }}">
<input type="hidden" name="input-az-picture-page-img-thumb-height" id="input-az-picture-page-img-thumb-height" value="{{ pictureBaseHeight }}">
<div class="row text-center az-picture-page-picture-main-picture-div" style="display:none;">
    <div class="col-md-12 az-picture-page-panel-img">11</div>
</div>
<input type="hidden" name="input-az-picture-page-panel-img" id="input-az-picture-page-panel-img" value="{{ img }}">
<input type="hidden" name="input-az-picture-page-panel-big-img" id="input-az-picture-page-panel-big-img" value="{{ imgBig }}">
<div class="row text-center az-picture-page-picture-main-panel-div" style="display:none;">
    <div class="col-md-12 az-picture-page-panel-img"></div>
</div>