<div class="col-md-12 az-picture-price-div container-fluid">
    <div class="row text-center az-picture-page-sidebar-header-block az-picture-page-sidebar-price ">
        36 BYN
    </div>
    <div class="row az-picture-page-sidebar-size-div-body">
        <div class="col-md-6 text-left az-picture-page-sidebar-price-btn-div-left">
            <button class="btn az-picture-page-sidebar-price-btn">Заказать</button>
        </div>
        <div class="col-md-6 text-right az-picture-page-sidebar-price-btn-div-right">
            <button class="btn az-picture-page-sidebar-price-btn">Отложить</button>
        </div>
    </div>
</div>