<div class="row">
    <div class="col-md-12 az-picture-size-div container-fluid">
        <div class="row az-picture-page-sidebar-size">
            <div class="col-md-12 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-size-div-left">
                <label data-for="picture-mat-size">Размер паспарту: </label>
                <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
                {% if help_settings is defined and help_settings and help_settings.sizeHelp is defined and help_settings.sizeHelp %}
                    <div class="d-none">{{ help_settings.sizeHelp }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-size-div-select">
            <select class="btn az-picture-page-mat-size-select" name="picture-mat-size" id="az-picture-page-constructor-mat-size-select" title="picture-mat-size">
                {% set size_default = 1 %}
                {% for size in 2..12 %}
                    <option value="{{ size }}" {% if size_default == 1 %}selected{% endif %}>{{ size }} см</option>
                    {% set size_default = size_default + 1 %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>