<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-thickness-div-left">
            <label data-for="picture-size">Толщина подрамника: </label>
        </div>
        <div class="col-md-8 text-right az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
            <div style="display: none;">{{ help_settings.underframeHelp|raw }}</div>
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-thickness-div-select">
        {% if thicknesses %}
        {% set ind = 1 %}
        {% for thickness in thicknesses %}
        <div class="col-md-6 container-fluid">
            <div class="row text-center">
                <img src="/files/underframes/small_thumb/{{ thickness.image.getFilename() }}" class="az-picture-page-material-img"/>
            </div>
            <div class="row text-center az-picture-page-material-radio-div">
                <input type="radio" class="btn z-picture-page-thickness" value="{{ thickness.depth }} см" title="az-picture-page-thickness"
                       data-ratio="{{ thickness.ratio }}" name="az-picture-page-thickness" {% if ind == 1 %}checked{% endif %}/>
            </div>
        </div>
        {% if ind is even %}
    </div>
    <div class="row">
        {% endif %}
        {% set ind = ind + 1 %}
        {% endfor %}
        {% endif %}
    </div>
</div>