<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-type-div-left">
            <label data-for="picture-size">Тип изделия: </label>
        </div>
        <div class="col-md-8 text-right az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
            {% if help_settings is defined and help_settings and help_settings.typeHelp is defined and help_settings.typeHelp %}
                <div class="hidden">{{ help_settings.typeHelp|raw }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-type-div-select">
        {% set numPicture = 0 %}
        {% if pictureMain.image is defined and pictureMain.image %}
            <div class="col-md-4 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">Баннер</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Баннер" value="1"
                           title="az-picture-page-type" name="az-picture-page-type" checked/>
                </div>
            </div>
            <div class="col-md-4 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">В раме</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="В раме" value="2"
                           title="az-picture-page-type" name="az-picture-page-type"/>
                </div>
            </div>
            <div class="col-md-4 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">Панно</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Панно" value="3" title="az-picture-page-type"
                           name="az-picture-page-type"/>
                </div>
            </div>
        {% endif %}
    </div>
</div>