<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-type-div-left">
            <label data-for="picture-size">Тип изделия: </label>
        </div>
        <div class="col-md-8 text-right az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
            <div style="display: none;">{{ help_settings.typeHelp|raw }}</div>
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-type-div-select">
        {% set numPicture = 0 %}
        {% if pictureMain.imageBanner is defined and pictureMain.imageBanner %}
            <div class="col-md-6 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.imageBanner.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">Баннер</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Баннер" value="1"
                           title="az-picture-page-type" name="az-picture-page-type" checked/>
                </div>
            </div>
            {% set numPicture = numPicture + 1 %}
        {% endif %}
        {% if pictureMain.image is defined and pictureMain.image %}
            <div class="col-md-6 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">Картина</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Картина" value="2"
                           title="az-picture-page-type" name="az-picture-page-type"/>
                </div>
            </div>
            {% set numPicture = numPicture + 1 %}
        {% endif %}
        {% if numPicture == 2 %} </div>
    <div class="row"> {% endif %}
        {% if pictureMain.imageModule is defined and pictureMain.imageModule %}
            <div class="col-md-6 container-fluid">
                <div class="row text-center">
                    <img src="/files/pictures/small_thumb/{{ pictureMain.imageModule.getFilename() }}" class="az-picture-page-type-img"/><br/>
                    <span class="az-picture-page-type-img-text">Модульная картина</span>
                </div>
                <div class="row text-center az-picture-page-material-radio-div">
                    <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Модульная картина" value="3" title="az-picture-page-type"
                           name="az-picture-page-type"/>
                </div>
            </div>
            {% set numPicture = numPicture + 1 %}
        {% endif %}
    </div>
</div>