<div class="row">
    <div class="col-md-12 col-sm-12 az-picture-size-div container-fluid">
        <div class="row az-picture-page-sidebar-size">
            <div class="col-md-12 col-sm-12 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-size-div-left">
                <label data-for="picture-type-mat">Тип паспарту: </label>
                <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
                {% if help_settings is defined and help_settings and help_settings.matHelp is defined and help_settings.matHelp %}
                    <div class="hidden">{{ help_settings.matHelp }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-size-div-select">
            <select class="btn az-picture-page-mat-type-select" name="picture-type-mat" id="az-picture-page-mat-type-select" title="picture-type-mat">
                {% if mats is defined and mats %}
                    {% set size_default = 1 %}
                    {% for mat in mats %}
                        <option value="{{ mat.title }}" {% if size_default == 1 %}selected{% endif %}>{{ mat.title }}</option>
                        {% set size_default = size_default + 1 %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
</div>